<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PathLang" value="tessdata\spa" />
    <add key="Language" value="spa" />
    <add key="EnablePerformance" value="SI" />
    <add key="EnableMODI" value="NO" />
    <add key="pMemoriaCacheCategoryName" value="Memoria" />
    <add key="pMemoriaCacheCounterName" value="Bytes de caché" />
    <add key="pMemoriaDisponibleCategoryName" value="Memoria" />
    <add key="pMemoriaDisponibleCounterName" value="Bytes disponibles" />
    <add key="pMemoriaTotalCategoryName" value="Memoria" />
    <add key="pMemoriaTotalCounterName" value="% de bytes confirmados en uso" />
    <add key="pMemKernelPaginadoCategoryName" value="Memoria" />
    <add key="pMemKernelPaginadoCounterName" value="Bytes de bloque paginado" />
    <add key="pMemKernelNoPaginadoCategoryName" value="Memoria" />
    <add key="pMemKernelNoPaginadoCounterName" value="Bytes de bloque no paginado" />
    <add key="pIdentificadoresCategoryName" value="Sistema" />
    <add key="pIdentificadoresCounterName" value="Longitud de la cola del procesador" />
    <add key="pSubprocesosCategoryName" value="Sistema" />
    <add key="pSubprocesosCounterName" value="Subprocesos" />
    <add key="pPorcentajeUsoCPUCategoryName" value="Processor" />
    <add key="pPorcentajeUsoCPUCounterName" value="% Processor Time" />
    <add key="pPorcentajeUsoCPUInstanceName" value="_Total" />
    <add key="pPromedioLecuraDiscoCategoryName" value="Disco lógico" />
    <add key="pPromedioLecuraDiscoCounterName" value="Bytes de lectura de disco/s" />
    <add key="pPromedioLecuraDiscoInstanceName" value="_Total" />
    <add key="pPromedioEscrituraDiscoCategoryName" value="Disco físico" />
    <add key="pPromedioEscrituraDiscoCounterName" value="Bytes de escritura en disco/s" />
    <add key="pPromedioEscrituraDiscoInstanceName" value="_Total" />
 
  </appSettings>
</configuration>