<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="OCR.Facultad.Ingenieria.ManagerBases.Properties.Settings.ocrConnectionString"
      connectionString="server=localhost;User Id=ocruser;Persist Security Info=True;password=ocruser;database=ocr_uce"
      providerName="MySql.Data.MySqlClient" />    
  </connectionStrings>
</configuration>