<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="IpServidorMysql" value="192.168.1.2" />
    <add key="IpServidorPosgrest" value="192.168.1.4" />
    <add key="PuertoMysql" value="" />
    <add key="PuertoPostgrest" value="" />
    <add key="UserMysql" value="" />
    <add key="UserPostgrest" value="" />
    <add key="PasswordPostgrest" value="" />
    <add key="PasswordMysql" value="" />
    <add key="BasePostgrest" value="" />
    <add key="BaseMysql" value="" />
    <add key="UKeypublicaPostgrest" value="" />
    <add key="UKeypublicaMysql" value="" />
    <add key="CKeypublicaMysql" value="" />
    <add key="CKeypublicaPostgrest" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="OCR.Facultad.Ingenieria.ManagerBases.Properties.Settings.ocrConnectionString" connectionString="server=localhost;User Id=ocruser;password=ocruser;Persist Security Info=True;database=ocr_uce" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>