<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="ProcesadosOcr" value="\ProcesadosOcr" />
    <add key="NoProcesadosOcr" value="\NoProcesadosOcr" />
    <add key="XMLProcesados" value="\XMLProcesados" />
    <add key="XMLNoProcesados" value="\XMLNoProcesados" />
    <add key="KeyPublicaMysql" value="30041986" />
    <add key="AutoArranque" value="False" />
    <add key="Deskew" value="False" />
    <add key="MoverDoc" value="True" />
    <add key="PathLang" value="tessdata\spa" />
  
  </appSettings>

  <connectionStrings>
    <add name="OCR.Facultad.Ingenieria.ManagerBases.Properties.Settings.ocrConnectionString"
      connectionString="server=localhost;User Id=ocruser;Persist Security Info=True;password=ocruser;database=ocr_uce"
      providerName="MySql.Data.MySqlClient" />
   
  </connectionStrings>
</configuration>
